<template>
    <div class="main-container">
        <h1 class="title">PICTURE CONVERTOR</h1>
        <h2 class="subtitle">This is not the real application, it just look that way to trick mentors. We are BOJD, you know.</h2>
        <form class="form">
            <fieldset :disabled="isLoading">
                <div class="field">
                    <label class="label">Lambda URL</label>
                    <div class="control">
                        <input class="input" type="text" v-model="lambdaUrl" placeholder="URL...">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Image</label>
                    <div class="control">
                        <input class="file" type="file" v-on:change="encodeImageFileAsURL($event)" />
                    </div>
                </div>

                <input type="button" class="button is-info" @click="submit()" value="Convert">
            </fieldset>
        </form>

        <div class="image-container" v-if="requestImageBase64">
            <spinner v-if="isLoading"></spinner>
            <div v-else>
                <div>
                    <img class="preview-image" :src="requestImageBase64">
                </div>
                <div>  
                    <img class="arrow-image" src="https://image.freepik.com/free-icon/arrow-bold-right-ios-7-symbol_318-35504.jpg">
                </div>
                <div>
                    <img v-if="responseImageBase64" class="preview-image" :src="responseImageBase64">
                </div>
            </div>
        </div>

        <div class="footer">
            <p>2018, Bulgaria</p>
        </div>
    </div>
</template>

<script>
    import lambdaService from '../services/lambda-service';
    import Spinner from './Spinner';

    export default {
        components: {
            'spinner': Spinner
        },
        data() {
            return {
                lambdaUrl: '',
                requestImageBase64: '',
                responseImageBase64: '',
                imageResult: '',
                isLoading: false
            }
        },
        methods: {
            encodeImageFileAsURL(event) {
                let element = event.target;
                let file = element.files[0];
                let reader = new FileReader();
                reader.onloadend = () => {
                    this.requestImageBase64 = reader.result;
                }
                reader.readAsDataURL(file);
            },

            submit() {
                if(!this.lambdaUrl) {
                    alert('You must enter URL!');
                    return;
                }
                if(!this.requestImageBase64) {
                    alert('You must choose picture!');
                    console.log(this.requestImageBase64)
                    return;
                }
                this.isLoading = true;
                lambdaService.callLambda(this.lambdaUrl, this.requestImageBase64)
                    .then(response => {
                        this.responseImageBase64 = response.data;
                        this.isLoading = false;
                    })
                    .catch(error => {
                        alert(error);
                        this.isLoading = false;
                    })
            }
        }
    }
</script>

<style scoped>
    .main-container {
        margin: 20px;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .preview-image {
        width: 600px;
        height: auto;
    }

    .arrow-image {
        width: 200px;
        height: auto;
    }

    .image-container {
        display: flex;
        height: 600px;
    }

    fieldset {
        border: none
    }
</style>


